* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/*** FOOTER STYLES ***/
footer {
    width: 100vw;
    height: 100px;
    background: lightgreen;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    font-size: .75em;
    padding: 10px;
}

.social-links {
    display: flex;
    align-items: end;
}

.social-links i {
    padding: 5px;
}

.address {
    line-height: .75px;
}