:root {
  --primary-bg: #edf0f1;
  --secondary-bg: #a1a9ad;
  --accent-color: #306775;
  --primary-txt: #03151a;
  --secondary-txt: #084354;
  --font-main: "Poiret One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--font-main);
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}
